# Byte-compiled / optimized / DLL files
__pycache__/

# Notebooks
*.ipynb

# Checkpoints
ipynb_checkpoints/

# Images
*.png
*.jpg
*.jpeg
*.tiff

# Videos
*.mp4

# Environments
venv/

# Models
*.hdf5
*.pt
